.footer {
    background-color: #333333;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

.columnOganize{
    display: flex;
    flex-direction: column;
}

.titulo {
    align-self: center;
    margin-top: .7em;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2em;
    line-height: 48px;
}

.slogan {
    margin-top: .7em;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1em;
    align-items: center;
}

.email {
    align-self: center;
    margin-top: .7em;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2em;
    line-height: 63px;
}