.heroSection {
    background: linear-gradient(100.44deg, #B397EE -7.72%, #5133A7 64.9%);

    @apply h-[100vh] px-[10%] overflow-hidden relative;
}

.textBox {
    @apply children:text-nearWhite relative z-50 mt-[8rem];
}

.textBox h1 {
    @apply font-poppins font-bold
        text-[1.4rem] leading-[1.6em]
        xs:text-[1.6rem] xs:leading-[1.6em]
        ss:text-[1.9rem] ss:leading-[1.7em]
        sm:text-[2.5rem] sm:leading-[1.7em]
        md:text-[3.2rem] md:leading-[1.7em]
        lg:text-[3.8rem] lg:leading-[1.7em]
        xl:text-[4.5rem] xl:leading-[1.7em] ;
}

.textBox h2 {
    @apply font-dmSans leading-[1.87rem]
        text-[1.1rem]
        ss:text-[1.2rem]
        sm:text-[1.4rem];
}

/* TODO: make moon responsive */
.moon {
    @apply landscape:h-[105vh] landscape:w-[105vh] rounded-full bg-lightPurple absolute right-[-8%] bottom-[-17%];
}

/* TODO: make rocket responsive */
.rocket {
    @apply h-[70%] rotate-[10.85deg] z-10 absolute right-[52%] bottom-[18%];
}

