.footer {
    @apply bg-nearBlack pt-12 pb-16 flex flex-col font-poppins items-center;
    width: 100%;
}

.logo {
    @apply h-[100px] w-auto;
    color: white;
}

.companyName {
    @apply font-spaceGrotesk font-bold text-[2.5rem] md:text-[2.7rem] text-nearWhite leading-none mt-[0.7rem];
}

.slogan {
    @apply font-poppins text-nearWhite font-semibold mt-3 text-center;
}

.email {
    @apply mt-3 text-nearWhite font-bold text-[1.9rem] xs:text-[2.5rem] md:text-[2.7rem];
}

.tags {
    display: grid;
    grid-template-columns: auto auto auto;
    @apply gap-x-[3rem] sm:gap-x-[6rem] lg:gap-x-[8rem] mx-auto mt-10 xs:mt-14;
}

@media screen and (max-width: 620px) {
    .tags {
        grid-template-columns: auto;
        row-gap: 2rem;
    }
}

.columnTags {
    display: flex;
    flex-direction: column;
    row-gap: 0.45rem;
}

.tagTitle {
    @apply text-nearWhite text-[1.1rem] sm:text-[1.3rem] font-bold;
}

.tag {
    @apply text-nearWhite font-semibold text-[1rem] sm:text-[1.1rem];
}

.tag:hover {
    @apply text-white;
}