.heroSection {
    height: 100vh;
    background: linear-gradient(100.44deg, #B397EE -7.72%, #5133A7 64.9%);

    padding: 0 12%;
    padding-top: 8%;
    overflow: hidden;

}

.heroSection h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 125px;
    color: #f3f3f3;
}

.heroSection h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #f3f3f3;
}

.rocketImg {
    height: 637px;
    width: auto;

    transform: rotate(10.85deg);

    z-index: 10;
    position: absolute;
    right: 20%;
    bottom: 6%;
}

.moonShape {
    height: 1000px;
    width: 1000px;

    background-color: #9172D3;
    border-radius: 50%;
    display: block;

    float: right;
    position: relative;
    right: -25%;
    bottom: 50%;
}