.navSection {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 8em;

.companyLogo {
    @apply flex items-center gap-[20px];
}

.companyLogo img {
    @apply h-[2.5rem] w-[2.5rem];
}

.companyLogo h1 {
    @apply text-nearWhite font-spaceGrotesk text-[24px] font-bold;
}

.navButton {
    justify-content: space-evenly;
    align-items: center;
}

.button {
    margin-right: 1em;
    color: #fff;
    font-weight: bold;
}