.navSection {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 8em;
    margin-top: 1.2rem;
}

.companyLogo {
    @apply flex items-center gap-[20px];
}

.companyLogo img {
    @apply h-[2.5rem] w-[2.5rem];
}

.companyLogo h1 {
    @apply text-nearWhite font-spaceGrotesk text-[24px] font-bold;
}

.navButton {
    @apply flex gap-[40px];
}

.button {
    @apply font-dmSans text-nearWhite text-[1rem];
}